<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #0004ff;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #333;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        
    </style>
</head>
<body>
    <h1>Course Tracker</h1>
    <a href="http://127.0.0.1:5000/courses/MDM4U1" style="text-decoration:none;">
        <p style="color:#ffffff;">MDM4U</p>
    <a href="http://127.0.0.1:5000/courses/MCV4U1" style="text-decoration:none;">
        <p style="color:#ffffff;">MCV4U</p>
    <a href="http://127.0.0.1:5000/courses/MHF4U1" style="text-decoration:none;">
        <p style="color:#ffffff;">MHF4U</p>
    <a href="http://127.0.0.1:5000/courses/ICS4U1" style="text-decoration:none;">
        <p style="color:#ffffff;">ICS4U</p>
</a>

</body>
</html>